@model IList<mobileCRM.Models.Visita>

@{  
    ViewBag.Title = "Visita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html> 
<html> 
	<head> 
	<title>Visita</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
</head> 

<body>
    <!-- Home -->
    <div data-role="page" id="page1">
        <!-- CABECALHO -->
        <div data-theme="a" data-role="header" data-position="inline">
            <h3>Visitas</h3>
            @Html.ActionLink("Voltar", "Index", "Home")
        </div>
        <!-- CABECALHO -->
        <div data-role="content" style="padding: 15px">
            <ul data-role="listview" data-divider-theme="a" data-inset="true" data-filter="true">
                <li data-role="list-divider" role="heading">Próximas visitas </li>
                @foreach (var item in Model)
                {
                    <li data-theme="c"><a href="@Url.Action("Details", "Visita", new { id = item.Handle })" data-transition="slide">@item.Descricao</a></li>
                }
            </ul>
            <div data-role="navbar" data-iconpos="top">
                <ul>
                    <li><a href="@Url.Action("Create", "Visita")" data-theme="" data-icon="">Nova Visita </a></li>
                    <li><a href="#page2" data-theme="" data-icon="">Não Realizadas </a></li>
                    <li><a href="#page2" data-theme="" data-icon="">Relacionamento </a></li>
                </ul>
            </div>
        </div>
        <!--RODAPE -->
        <div data-theme="a" data-role="footer" data-position="fixed">
            <h3>
               Benner Sistemas
            </h3>
        </div>
        <!--RODAPE -->
    </div>
    <!-- CABECALHO -->
    <div data-theme="a" data-role="header" data-position="inline">
        <h3>CRM</h3>
        @Html.ActionLink("Voltar", "Index", "Home")
    </div>
    <div data-role="page" id="page2">
        <ul data-role="listview" data-divider-theme="a" data-inset="true">
            <li data-role="list-divider" role="heading">PAGE 2 </li>
            <li data-theme="c"><a href="#page1" data-transition="slide">Benner S.A</a></li>
        </ul>
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li><a href="#page1" data-theme="c" data-icon="">Nova Visita</a></li>
                <li><a href="#page1" data-theme="c" data-icon="">Não Realizadas</a></li>
                <li><a href="#page1" data-theme="c" data-icon="">Relacionamento</a></li>
            </ul>
        </div>
    </div>
    <!-- RODAPE -->
    <div data-theme="a" data-role="footer" data-position="fixed">
        <h3>
            Benner Sistemas
        </h3>
    </div>
</body>
</html>
